.container_services {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10% 0 14% 0;
    margin-bottom: 50px;
}

.services {
    padding: 40px 0;
}

.services ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.services li {
    font-size: 1.2em;
    color: white;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #731604;
    display: inline-block;
    width: 250px;
}

@media (max-width: 850px){
	.container_services {
        margin-bottom: 100px;
    }
    
}
@media (max-width: 650px){
	.container_services {
        margin-top: 20px;
        margin-bottom: 120px;
    }
    
}

@media (max-width: 450px){
	.container_services {
        margin-top: 20px;
        margin-bottom: 250px;
    }
    
}
