.container_contact {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10% 0;
    margin-bottom: 50px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-colorr);
}
.contact {
    padding: 40px 0;
}

.contact p {
    font-size: 1.1em;
    text-align: center;
    /* color: #555;
     */
    color: var(--text-colorr);

    line-height: 1.6;
}

.contact p strong {
    /* color: #333; */
    color: var(--text-colorr);

}

@media (max-width: 850px){
	.container_contact {
        margin-bottom: 100px;
    }
    
}
@media (max-width: 650px){
	.container_contact {
        margin-top: 50px;
        margin-bottom: 120px;
    }
    
}

@media (max-width: 450px){
	.container_contact {
        margin-top: 50px;
        margin-bottom: 300px;
    }
    
}
